*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
display: flex;
justify-content: space-between;
align-items: baseline;
margin: 16px 16px 16px 0px;
box-shadow: 2px 2px 2px 2px  gray;
padding: 16px;
}
.logo{
    display: inline-block;
    font-size: 20px;
    color: #D61A46;
    border: 5px solid #D61A46;
    padding: 5px;
}
.user{
    margin-right: 12px;
}
.user > i{
    font-size: 32px;
    color: #D61A46;
}
.user-name{
font-size: 12px;
color: rgba(236, 15, 67, 0.7);
}
.delete-selected{
    margin-left: 36px;
}
#select-all{
    margin: 8px;
}
.delete-selected > i{
    font-size: 18px;
    color: rgba(236, 15, 67, 0.7);
    margin-left: 8px;
    margin-right: 16px;
}
.controls {
    /* border-bottom: 1px solid lightgray; */
    /* border-top: 1px solid lightgray; */
    box-shadow: 2px 4px 2px lightgray;
    padding: 0px 4px 8px 4px;
    margin-bottom: 8px;
}
.sidepanel-control, .compose{
    display: inline-block;
}
.sidepanel-control{
    margin-left: 16px;
}
.fa-bars{
   font-size: 24px; 
}
.compose{
background-color: #D61A46; 
   cursor: pointer;
  border: none; 
  color: white; 
  padding: 12px;
  font-size: 12px; 
  cursor: pointer; 
  margin: 8px 2px 8px 2px;
  /* width: 50px; */
  text-align: center;
  border-radius: 5px;

}
.content{
    width: 100%;
    display: flex;
}
.sidepanel{
    height: 70vh;
    width: 50%;
    padding-left: 4px;
    border-right: 1px solid lightgrey;
    /* background-color: darkorange; */
}
.individuals{
 margin-bottom: 4px;
}
.groups{
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.individuals > div{
    text-align: center;
   padding: 10px;
   width: 100%;
}
.add-group{
    background-color: #D61A46;
    padding: 8px;
    width: 60%;
    text-align: center;
    font-size: 10px;
    margin-right: 8px;
    border-radius: 5px;
}
.group{
    padding: 8px 4px 8px 4px;
display: flex;
flex-wrap: wrap;
}
.group > .fa-ellipsis-v{
    align-self: flex-end;
    padding: 4px;
}
.group-name{
    width: 60px;
    overflow: hidden;
    text-overflow: clip;
    padding: 4px; 
}
.group > .fa-users{
    align-self: flex-start;
    padding: 4px;
}
.mails{
   
    overflow-x: auto;
    /* background-color: indianred; */
    height: 80vh;
    width: 100%;
    margin-right: 4px;
}
td{
padding: 8px;
white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: clip; 
}

tr{
background-color: beige;
}
.footer{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #D61A46;

}

@media screen and (min-width: 600px){
    .delete-selected {
        margin-left: 150px;
        }
        .delete-selected > i{
            margin-right: 38px;
            font-size: 20px;
        }
        #select-all{
            margin-right: 20px;
        }
        .sidepanel{
            width: 30%;
        }
}

@media screen and (min-width: 992px){
    .sidepanel{
        width: 25%;
    }
    #select-all{
        margin-right: 20px;
    }
    .delete-selected {
    margin-left: 250px;
    }
    .delete-selected > i{
        margin-right: 38px;
        font-size: 20px;
    }
    .pick {
        width: 50px;
        text-align: center;
    }
    .time{
        width: 80px;
        text-align: center;
    }
    .trash{
        width: 50px;
        text-align: center;
    }
}

/* modal code */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content > div {
      background-color: aqua;
      height: 20vh;
  }