*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    /* background-color: crimson; */
    
}
.logo{
    border: 5px solid #D61A46;
    margin: 16px;
    font-size: 20px;
    padding: 8px;
    display: inline-block;
    color: #D61A46;
}
.nav-links{
     /* display: flex; */
     margin-top: 0;
     margin-bottom: 0;
     /* background-color: deeppink; */
}
.links{
    display: inline-block;
    text-align: center;
    height: 100%;
    padding: 28px 4px 0px 4px;
}
.signin{
    display: none
}
.signup{
    background-color: #D61A46;
    width: 100px;
    color: #ffffff;
}
.mobile-link{
    display: block;
    background-color: hsla(0, 100%, 90%, 0.3);;
    height: 50px;
   padding-left: 10px;
   padding-top: 10px;
   color: hsl(0, 100%, 30%);
}
.banner{
    height: 80vh;
    background-image: url("../images/pexels-photo-1061588.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 16px 0px 16px;
    
}
.ad-words{
    font-size: 44px;
    color: rgba(255, 0, 0, 0.6);
    
}
.ad-button{
    background-color: rgba(255, 0, 0, 0.6);
    text-align: center;
    width: 200px;
    font-size: 30px;
    margin-top: 40px;
    color: #ffffff;
    padding: 10px 0px;
}
.footer{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #D61A46;

}
@media screen and (min-width: 600px){
.signin{
    display: inline-block;
    color: #D61A46;
    margin-right: 32px;
}
.mobile-link{
    display: none;

}
.banner{
    padding-left: 64px;
 }
.ad-words{
    margin-top: 32px;
    margin-bottom: 64px;
    width: 70%;
}
}
@media screen and (min-width: 992px){
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ad-words{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}