*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{text-decoration: none;}
/* end ogf general styling */
.header{
    display: flex;
justify-content: space-between;
align-items: baseline;
margin: 16px 16px 16px 16px;
padding-bottom: 8px;
border-bottom: 1px solid rgb(177, 174, 174);
}
.logo{
    display: inline-block;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.7);
    border: 5px solid rgba(255, 0, 0, 0.7);;
    padding: 5px;
}
.sign-in{
    padding: 16px;
    height: 90vh;
}
.form-caption{
    margin:16px;
    color: rgba(255, 0, 0, 0.7);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    display: inline-block;
    border: 0.5px solid #e6e3e3;
    border-radius: 5px;
  }
  .forgot-password{
      display: flex;
      justify-content: flex-end;
  }
  .forgot-password > a > i{
      color: rgba(255, 0, 0, 0.7);
  }

  .form-control{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 40px;
      padding: 16px;
  }
  .form-control > a{
      text-decoration: none;
      color: rgba(255, 0, 0, 0.7);
  }
  .form-control > input{
      width: 90px;
      height: 40px;
      border-radius: 5px;
      background-color: rgba(255, 0, 0, 0.7);
      border: none;
      color: #fff
  }
  .footer{
      display: flex;
      height: 10vh;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 0, 0, 0.7);

  }