*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{text-decoration: none;}
/* end ogf general styling */
.sign-in{
    padding: 16px;
    height: 90vh;
}
.form-caption{
    margin:16px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    display: inline-block;
    border: 0.5px solid #e6e3e3;
    border-radius: 5px;
  }
  .forgot-password{
      display: flex;
      justify-content: flex-end;
  }

  .form-control{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 40px;
      padding: 16px;
  }
  .form-control > a{
      text-decoration: none;
  }
  .form-control > input{
      width: 90px;
      height: 40px;
      border-radius: 5px;
      background-color: #D61A46;
      border: none;
      color: #fff
  }
  .footer{
      display: flex;
      height: 10vh;
      justify-content: center;
      align-items: center;
      background-color: #D61A46;

  }