{ "extends": "airbnb-base",
    "rules": {
        "no-console":"off",
        "no-undef":"off",
        "quotes":"off",
        "consistent-return":"off",
        "no-unused-expressions":"off",
        "linebreak-style": ["error", "windows"]
        
    }
}